includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/
        - config/
    # Level 10 is the highest level
    level: 10

    ignoreErrors:
        - '#Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''.#'
